<div class="hero">
  <h1>My watchlist</h1>
</div>

<div class="item-body">
  <ul class="list">
    <h2>
      <% @lists.each do |list| %>
    <li class="list-item"> <%= link_to list.name, list_path(list) %> </li>
      <% end %>
    </h2>
  </ul>

  <%= link_to 'New watch list', new_list_path, class:'btn btn-primary mt-auto' %>
</div>
