<%= link_to 'Add movie', new_list_bookmark_path(@list) %>

<p>
<%=  %>
<% @list.movies.each do |movie| %>
<%= movie.title %>
<%= link_to 'Delete', bookmark_path(bookmark), method: :delete %>
<% end %>
</p>
